.btn-close {
    color: darkred;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    margin: 10px 10px 10px auto;
}

.header {
    background-color: rgb(159, 53, 53);
    width: 100%;
}

.header p {
    margin-left: 10px;
}

.orders-title{
    color: white;
    font-size: 1em;
}